body{
    text-align: center;
    background-color: #8BC6EC;
    /* background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */


}
#title {
    font-size: 40px;
    text-align: left;
    color: white;
    padding: 20px 0 0 10px ;
}
.calculator {
    font-family: "Quicksand", sans-serif;
    margin: 100px auto;
    padding: 0;
    width: 320px;
    background-color: #1D1E22;
    border-radius: 25px;
  }
  .screen {
    height: 180px;
    width: auto;
    background-color: #495464;
    color: whitesmoke;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

  }
  .screen #calc{
    padding-top: 20px;
    padding-right: 10px;
    font-size: 50px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    text-align: right;
  }
  .screen #rslt{
      font-size: 50px;
      padding-top: 20px;
      padding-right: 10px;
      text-align: right;
  }

  .buttons{
      height: 310px;
      margin-top: 12px;
  }
  .btn{
    margin: 0;
    width: 75px;
    height: 60px;
    font-size: 25px;
    background-color: #1D1E22;
    color: white;
    border: none;
  }